* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

header li a:hover { /* När man höverar header länkar */
    border-bottom: solid 0.33em black;
    animation-name: UnderLineA;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    padding-bottom: 2.2em;
    color: RGB(217,177,137);
}

.main3_1_lasmer:hover {
    animation-name: FadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 0.33s;
    color: white;
}

img{ /*Fade in när disan laddas in*/
    animation-name: FadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 3s;
    filter: drop-shadow(.2rem .3rem 1rem rgb(0, 0, 0));
}
@keyframes UnderLineA {
    0% {
        border-width: 0em;
    }
    100% {
        border-width: 0.33em;
    }
}
@keyframes FadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
body {
    margin: 0%;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(255, 251, 240);
}
#wrapper {
    min-height: 100vh;
    min-width: 90vw;
    display: grid;
    grid-template-areas: 
    'hd hd hd'
    'mn mn mn'
    'mn mn mn'
    'ft ft ft';
    grid-template-rows: 6em auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
}
header {
    padding: 1em;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: row;
    grid-area: hd;
    justify-content: space-between;
    border-top: 0.3em solid #D9B189;
    filter: drop-shadow(.3rem .3rem 1rem rgb(0, 0, 0));
}
#headerlist {
    flex-direction: row;
    display: flex;
}
#headerlist li {
    padding-left: 10em;
}
#logotype {
    margin-left: 1em;
    width: 4em;
    filter: none;
}
main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
}
#h2_popular { /* Header 2 med "Populärt" */
    text-align: center;
}
#zebrameat { /* Img av zebra köttet */
    width: 100%;
    margin-right: 5em;
}
#main1_1 {
    display: flex;
    justify-content: space-around;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 41%, rgba(187,156,109,1) 100%); 
}

#main1_sq1_1{ /*Texten, main 1*/
    margin-left: 40vw;
    padding: 5em;
    text-overflow: ellipsis;
}
#main1_sq2_1 { /* Bild på Zebra */
    margin-top: 3em;
}
#main1_sq3_1 {
    width: 30em;
}
/*Main del2*/
#main2_1
{ /* Bakgrundsfärg på ruta 2*/
    padding: 1em;
    background-color: #F5D8AE;
    display: flex;
    justify-content: space-between;
  
}
#burger { /*Bilden main 2*/
    margin-left: 5em;
    width: 80%;
}
#main2_sq1_1{ /*Texten, main2*/
    padding: 2em;
}
#main2_sq2_1 { /* Används för att trycka ihop bilden lite på ruta 2*/
    margin-top: 1em;
    margin-bottom: 1em;
}
#main2_sq3_1 { /* Whitespace */
    margin-right: 50vw; /*För att trycka in texten*/
}
/* Main del3 */
#main3_1 {
    display: flex;
    flex-direction: row;
}
#main3_sq1_1 {

}
#home_delivery_img { /*Bild på main3*/
    padding: 3em;  
    margin-left: 6em; 
    width: 70%;
    padding-bottom: 0em;
}
#book_online_img { /*Vänsterbild på main3*/
    padding: 3em;
    margin-left: 6em;
    width: 70%;
    padding-bottom: 0em;
}
#main3_sq1_1_textbox,#main3_sq2_1_textbox { /* Text ruta till vänsterbilden, main3*/
    text-align: center;
    margin-bottom: 2em;
}
.main3_1_lasmer {
    display: inline-block;
    background-color: #F5D8AE;
    padding: 1em;
    border-radius: 0.33em;
    

}
nav {
    background-color: white;
    border: solid 1px black;
    grid-area: nv;
}
#nav_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
hr {
    width: 3em;
    color: gray;
    opacity: 0.5;
}
footer {
    color: white;
    background-color: black;
    grid-area: ft;
    display: flex;
    flex-direction: column;
    text-align: center;   
    column-gap: 4em;
}
ul {
    list-style-type: none;
}

/* Sida 2 / Meny */

#wrapper2 {
    display: grid;
    grid-template-areas: 
    'hd hd'
    'mn mn'
    'mn mn'
    'ft ft';
    grid-template-rows: 6em auto auto auto;
    grid-template-columns: 50% 50%;
}

#main1_2 {
    display: grid;
    grid-template-areas: 
    'mnsq1_2 mnsq2_2';
    text-align: center;
    word-break: break-all;
    grid-template-columns: 50% 50%;
}
#main1_sq1_2 { /* Huvudrätter */
    grid-area: mnsq1_2;
    border-right: black solid 1px;
}
#main1_sq2_2 { /* Förrätter */
    border-left: black solid 1px;
    grid-area: mnsq2_2;
}
#gillmenburger { /* Bild på maträtten */
    width: 15%;
    float:inline-start;
}