* {
    box-sizing: border-box;
}
body {
font-family: lemonde-courrier, serif;
font-weight: 400;
font-style: normal;
}
#wrapper {
    min-height: 100vh;
    display: grid;
    border: solid 1px black;
    grid-template-areas: 
    'hd hd hd hd'
    'mn mn mn nv'
    'mn mn mn nv'
    'ft ft ft ft';
    grid-template-rows: 6em auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 8em;

}
header, main, nav, footer { /* Justera alla delar */
    padding: 1em;
}
header {
    border: solid 1px black;
    display: flex;
    grid-area: hd;
    justify-content: space-between;
}
#logotype {
    width: 4em;
}

main {
    grid-area: mn;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
#main_sq1 {
    display: flex;
    background-image: url(../img/zebrameat.jpg);
    background-size: cover;
    margin-left: 3em;
    padding: 1em;
    width: 25vw;
    min-height: 25vh;
    justify-content: flex-end;
    flex-flow: column;
}
#main2
{
    background-color: greenyellow;
}
#main_sq2 {
    margin-left: 35em;
    background-image: url(../img/Burger_Unsplash.jpg);
    background-size: cover;
    width: 25vw;
    min-height: 25vh;
}


nav {
    border: solid 1px black;
    grid-area: nv;
}
#nav_list {
    display: flex;
    flex-direction: column;
   

}
hr {
    width: 3em;
    color: gray;
    opacity: 0.5;
}
footer {
    grid-area: ft;
}